<header>
  <section class="wrap">
    <section class="logo fl"><a href="#">Все для Вольво</a></section>
    <section class="address fl">г. Москва, ул. Ленина 101, стр. 1</section>
    <section class="phone fr">(495) 778-23-12</section>
  </section>
</header>
<section id="nayti_detal">
  <section class="wrap">
    <h1>Продажа и доставка б/у запчастей Volvo<br />по всей России</h1>
    <p>Не нужно мучиться в поисках нужной вам детали!<br />
      Оставьте запрос и наш менеджер пришлет вам цену и фотографию необходимой вам детали.</p>
    <a class="button" href="#" id="find-detail">Найти деталь!</a>
  </section>
</section>
<section id="katalog">
  <section class="wrap">
    <h2>Детали поступившие на склад</h2>
    <h3>Если вы не нашли нужную Вам деталь, свяжитесь с нами!</h3>

    <section class="slider">
      <ul class="bxslider">
        <li>
          <div class="img">
            <img src="/images/goods.jpg" width="377" height="210" alt="" />
          </div>
          <div class="description">
            <h3>Фары для Volvo v70</h3>
            <div class="price_wrap">
              <div class="price">
                <p>Средняя цена: <span class="old">6000р</span></p>
                <p>Наша цена: <span class="new">4000р</span></p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="img">
            <img src="/images/goods.jpg" width="377" height="210" alt="" />
          </div>
          <div class="description">
            <h3>Фары для Volvo v70</h3>
            <div class="price_wrap">
              <div class="price">
                <p>Средняя цена: <span class="old">6000р</span></p>
                <p>Наша цена: <span class="new">4000р</span></p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="img">
            <img src="/images/goods.jpg" width="377" height="210" alt="" />
          </div>
          <div class="description">
            <h3>Фары для Volvo v70</h3>
            <div class="price_wrap">
              <div class="price">
                <p>Средняя цена: <span class="old">6000р</span></p>
                <p>Наша цена: <span class="new">4000р</span></p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="img">
            <img src="/images/goods.jpg" width="377" height="210" alt="" />
          </div>
          <div class="description">
            <h3>Фары для Volvo v70</h3>
            <div class="price_wrap">
              <div class="price">
                <p>Средняя цена: <span class="old">6000р</span></p>
                <p>Наша цена: <span class="new">4000р</span></p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="img">
            <img src="/images/goods.jpg" width="377" height="210" alt="" />
          </div>
          <div class="description">
            <h3>Фары для Volvo v70</h3>
            <div class="price_wrap">
              <div class="price">
                <p>Средняя цена: <span class="old">6000р</span></p>
                <p>Наша цена: <span class="new">4000р</span></p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="img">
            <img src="/images/goods.jpg" width="377" height="210" alt="" />
          </div>
          <div class="description">
            <h3>Фары для Volvo v70</h3>
            <div class="price_wrap">
              <div class="price">
                <p>Средняя цена: <span class="old">6000р</span></p>
                <p>Наша цена: <span class="new">4000р</span></p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="img">
            <img src="/images/goods.jpg" width="377" height="210" alt="" />
          </div>
          <div class="description">
            <h3>Фары для Volvo v70</h3>
            <div class="price_wrap">
              <div class="price">
                <p>Средняя цена: <span class="old">6000р</span></p>
                <p>Наша цена: <span class="new">4000р</span></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </section>
  </section>
</section>
<section id="stoit_li_pokupat">
  <section class="wrap">
    <h3>Стоит ли покупать запчасти с разборки?</h3>
    <section class="left">
      <section class="otvet">
        Несомненным плюсом является цена.<br />
        Разница в цене, по сравнению с новой деталью,<br />
        может доходить до 50%.
      </section>
      <section class="otvet str_2">
        При низкой цене вы получаете оригинальную<br />
        деталь с большим ресурсом работы
      </section>
    </section>
    <section class="right">
      <section class="otvet str_4">
        Вы можете попасть на недобросовестного<br />
        продавца и приобрести деталь с низким<br />
        ресурсом работы, которую очень скоро опять<br />
        придется менять.
      </section>
      <section class="otvet">
        Вы можете купить неисправную деталь, которая<br />
        мало того, что не будет работать, так еще<br />
        может повредить ваш автомобиль.
      </section>
    </section>
  </section>
</section>
<section id="spisok_modelei">
  <section class="wrap">
    <h3>Список моделей Volvo с которыми мы работаем</h3>
    <h4>В таблице указана модель и годы выпуска</h4>
    <section class="left">
      <table width="464" cellspacing="0" cellpadding="0" border="0">
        <tr>
          <td width="22%">850</td>
          <td width="78%">1993, 1997 г.в</td>
        </tr>
        <tr>
          <td >S70</td>
          <td >1997, 2000 г.в.</td>
        </tr>
        <tr>
          <td >V70</td>
          <td >1997, 2000, 2001, 2007, 2008 г.в.</td>
        </tr>
        <tr>
          <td >S40</td>
          <td >2000, 2004, 2012 г.в.</td>
        </tr>
        <tr>
          <td >V50</td>
          <td >2004, 2012 г.в.</td>
        </tr>
        <tr>
          <td >C30</td>
          <td >2007, 2014 г.в.</td>
        </tr>
      </table>
    </section>
    <section class="right">
      <table width="464" cellspacing="0" cellpadding="0" border="0">
        <tr>
          <td width="22%">S60</td>
          <td width="78%">2001, 2009 г.в</td>
        </tr>
        <tr>
          <td >XC70</td>
          <td >2001, 2007, 2008, 2014 г.в.</td>
        </tr>
        <tr>
          <td >S80</td>
          <td >1998, 2006, 2007, 2014 г.в.</td>
        </tr>
        <tr>
          <td >XC90</td>
          <td >2003, 2013 г.в.</td>
        </tr>
        <tr>
          <td >V50</td>
          <td >2004, 2012 г.в.</td>
        </tr>
        <tr>
          <td >C30</td>
          <td >2007, 2014 г.в.</td>
        </tr>
      </table>
    </section>
  </section>
</section>
<section id="zaiavka">
  <section class="wrap">
    <h3>Нужна деталь которую сложно найти?<br />
      Обратитесь к нам!</h3>
    <h4>На нашем складе более 3 000 деталей.<br />
      Оставьте заявку и мы обязательно найдем вашу деталь.</h4>
    <div>
      <input type="text" name="detail_name" id="detail-name" placeholder="Название детали">
      <input type="text" name="car_model" id="car-model" placeholder="Модель автомобиля">
      <input type="text" name="username" id="name" placeholder="Ваше имя">
      <input type="text" name="phone" id="phone" placeholder="Ваш сотовый для связи">
      <input type="text" name="email" id="email" placeholder="Ваш e-mail">
      <button id="send-order">Отправить</button>
    </div>
  </section>
</section>
<section id="otkuda_detali">
  <section class="wrap">
    <h3>От куда мы берем детали</h3>
    <p>Мы участвуем в аукционах на которых продают подержанные автомобили.<br />
      Мы покупаем машины у бережных европейцев, американцов и японцов.<br />
      Перед покупкой мы проверяем все детали, так как сами не хотим покупать то что уже вышло из строя.</p>
    <h4>Поэтому мы можем давать 100% гарантию на деталь</h4>
  </section>
</section>
<section id="dostavka">
  <section class="wrap">
    <h3>Доставка</h3>
    <h4>Порядок доставки в регионы</h4>
    <section class="left">
      <ul>
        <li>Для отправки в регионы в зависимости от требований транспортной<br />
          компании необходимо сообщить нам реквизиты получателя</li>
        <li>После подтверждения оплаты мы осуществляем упаковку и доставку<br />
          Вашего заказа до терминала транспортной компании в Москве.</li>
        <li>Для Вашего удобства мы сообщаем Вам по электронной почте<br />
          или SMS номер транспортной накладной (Трекинговый номер).</li>
      </ul>
    </section>
    <section class="right">
      <div class="samovyvoz">
        <div class="samovyvoz_text">
          <p>Для жителей Москвы</p>
          <p>и подмосковья, у нас действует</p>
          <p>только самовывоз</p>
        </div>
      </div>
    </section>
  </section>
</section>
<section id="upakovka">
  <section class="wrap">
    <h3>Сохранность хрупких деталей</h3>
    <h4>Хрупкие детали мы самостоятельно упаковываем в стрейч-пленку и дополнительно<br />
      в кортонную коробку или жесткую упаковку, для обеспечения их сохранности.</h4>
    <section class="left">
      <div class="label">Кортонная упаковка</div>
      <img src="/images/upakovka_k.jpg" width="460" height="260" alt="" />
    </section>
    <section class="right">
      <div class="label">Жесткая упаковка</div>
      <img src="/images/upakovka_h.jpg" width="460" height="260" alt="" />
    </section>
  </section>
</section>
<section id="map">
  <div id="map-block"></div>
  <section class="wrap">
    <div class="map_address">
      <h4>Самовывоз</h4>
      <h5>г. Москва, ул. Ленина 101, стр. 1</h5>
    </div>
  </section>
</section>
<footer>
  <section class="wrap">
    <section class="logo_foot fl"><a href="#">Все для Вольво</a></section>
    <section class="address fl">г. Москва, ул. Ленина 101, стр. 1</section>
    <section class="phone fr">(495) 778-23-12</section>
  </section>
</footer>