<section class="slider">
  <ul class="bxslider">
    <li>
      <div class="img">
        <img src="/images/slider/5.jpg" width="300" height="210" alt="" />
      </div>
      <div class="description">
        <h3>Фара Вольво S60</h3>
        <div class="price_wrap">
          <div class="price">
            <p>новая: <span class="old">35 000р</span></p>
            <p>бy: <span class="new">18 000р</span></p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="img">
        <img src="/images/slider/3.jpg" width="300" height="210" alt="" />
      </div>
      <div class="description">
        <h3>Зеркала Вольво S60</h3>
        <div class="price_wrap">
          <div class="price">
            <p>новые: <span class="old">15 000р</span></p>
            <p>б/y: <span class="new">7 000р</span></p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="img">
        <img src="/images/slider/4.jpg" width="300" height="210" alt="" />
      </div>
      <div class="description">
        <h3>Зеркала Вольво S60</h3>
        <div class="price_wrap">
          <div class="price">
            <p>новые: <span class="old">15 000р</span></p>
            <p>б/y: <span class="new">7 000р</span></p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="img">
        <img src="/images/slider/1.jpg" width="300" height="210" alt="" />
      </div>
      <div class="description">
        <h3>Фонари задние Вольво ХС90</h3>
        <div class="price_wrap">
          <div class="price">
            <p>новые: <span class="old">7 000р</span></p>
            <p>б /y : <span class="new">5 000р</span></p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="img">
        <img src="/images/slider/2.jpg" width="300" height="210" alt="" />
      </div>
      <div class="description">
        <h3>Фонари задние Вольво ХС90</h3>
        <div class="price_wrap">
          <div class="price">
            <p>новые: <span class="old">7 000р</span></p>
            <p>б /y : <span class="new">5 000р</span></p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>