<section class="slider">
  <ul class="bxslider">
    <li>
      <div class="img">
        <img src="/images/slider/1.jpg" width="300" height="210" alt="" />
      </div>
      <div class="description">
        <h3>Фары для Volvo v70</h3>
        <div class="price_wrap">
          <div class="price">
            <p>Средняя цена: <span class="old">6000р</span></p>
            <p>Наша цена: <span class="new">4000р</span></p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="img">
        <img src="/images/slider/2.jpg" width="300" height="210" alt="" />
      </div>
      <div class="description">
        <h3>Фары для Volvo v70</h3>
        <div class="price_wrap">
          <div class="price">
            <p>Средняя цена: <span class="old">6000р</span></p>
            <p>Наша цена: <span class="new">4000р</span></p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="img">
        <img src="/images/slider/3.jpg" width="300" height="210" alt="" />
      </div>
      <div class="description">
        <h3>Фары для Volvo v70</h3>
        <div class="price_wrap">
          <div class="price">
            <p>Средняя цена: <span class="old">6000р</span></p>
            <p>Наша цена: <span class="new">4000р</span></p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="img">
        <img src="/images/slider/4.jpg" width="300" height="210" alt="" />
      </div>
      <div class="description">
        <h3>Фары для Volvo v70</h3>
        <div class="price_wrap">
          <div class="price">
            <p>Средняя цена: <span class="old">6000р</span></p>
            <p>Наша цена: <span class="new">4000р</span></p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="img">
        <img src="/images/slider/5.jpg" width="300" height="210" alt="" />
      </div>
      <div class="description">
        <h3>Фары для Volvo v70</h3>
        <div class="price_wrap">
          <div class="price">
            <p>Средняя цена: <span class="old">6000р</span></p>
            <p>Наша цена: <span class="new">4000р</span></p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>